header{
    position: fixed;
    background-color: $navy;
    z-index: 1;
    top: 0;
    width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.3rem 0;;
  @media screen and (min-width: $md_breakpoint) {
    justify-content: flex-start;
    flex-direction: row;
    padding: 2rem;
  }

  @media screen and (min-width: $lg_breakpoint) {
    padding: 2rem 13rem;
  }
}

.main-header-wrap {
  margin-top: 2rem;
  margin-left: 4rem;
  @media screen and (min-width: $md_breakpoint) {
    margin-top: 0;
  }
}

.primary {
  display: flex;
  text-transform: uppercase;
  line-height: 1.4rem;

  li {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    // font: 2rem bold;
    @media screen and (min-width: $md_breakpoint) {
      font-size: 1.5rem;
    }
  }
}

.authentication-header-wrap {
  @media screen and (min-width: $md_breakpoint) {
    margin-left: auto;
  }
}

.search-bar{
  background-color: $light-black;
  border: 1px solid transparent;
  border-bottom-color: rgb(58, 58, 58);
}

.search-form{

  input{
    font-size: 1.3rem;
    padding: .5rem;
    width: 100%; //can't use widht:auto for placeholder, need to use JS
    background: transparent;
    border: none;
    color: red;
    @media screen and (min-width: $md_breakpoint) {
      font-size: 1.7rem;
    }
  }

  input::placeholder{
    color: rgb(186, 181, 171);
  }

  input:focus{
    outline: none;
  }

  @media screen and (min-width: $md_breakpoint) {
    padding: 0 2rem;
  }

  @media screen and (min-width: $lg_breakpoint) {
    padding: 0 13rem;
  }

}
