.media {
  max-width: 100rem; //need max-width when in large screen so both columns have no extra space and are squeezed in
  margin: 17rem auto 5rem auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  //fr will expand on the free space
  //Note to future me:, know difference between auto-fill and auto-fit; auto-fill will keep track of 'empty' grid tracks; while auto fit will collapse the empty grid tracks;
  //it dosen't matter in this case because there is no empty grid tracks
  img {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: $md_breakpoint) {
    margin-top: 12rem
  }

}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; //centers inside column

  & > h2 {
    width: 100%;
    text-align: center;
    @media screen and (min-width: $lg_breakpoint) {
      text-align: left;
    }
  }
}

.small-pic-wrap {
  display: flex;
  //wrap must be created! removing it will cause the one of the small-pic to be with the big-pic at a certain breakpoint
}

.big-pic {
  position: relative;
  max-width: 50rem;
  max-height: 28rem;
}

.small-pic {
  position: relative;
  width: 50%; //without this, it will grow until 25 rem in smaller screens; wouldn't fit container
  max-width: 25rem;
  max-height: 14rem;
}

.detail-container {
  display: flex;
  position: absolute;
  align-items: flex-end;
  width: 100%; //flex dosen't recognize this as a flex child becasue of posi
  bottom: 0;
  padding: 1rem;
}

.detail-pic {
  //max width/height is needed despite the image not being large because of .media img{width:100%; height:100%} overridiing it
  max-width: 6rem;
  max-height: 8.5rem;
  margin-right: 1rem;
}

.detail-text {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: rgb(0, 0, 0) 1px 1px 0;

  h2,
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}

.featured-list-container {
  margin-top: 3rem;
  @media screen and (min-width: $md_breakpoint) {
    grid-column: 1 / span 2;
  }
}

.featured-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    display: flex;
    max-width: 23rem;
    max-height: 16rem;
    margin:.5rem;

    div {
      overflow: hidden;
      white-space: nowrap;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.featured-img {
  max-width: 9rem;
  max-height: 13rem;
  margin-right: 1rem;
}
