/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%; }

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "Source Sans Pro", Arial, sans-serif; }

body {
  background-color: #181a1b;
  color: white; }

header {
  position: fixed;
  background-color: #081c24;
  z-index: 1;
  top: 0;
  width: 100%; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.3rem 0; }
  @media screen and (min-width: 768px) {
    .header-content {
      justify-content: flex-start;
      flex-direction: row;
      padding: 2rem; } }
  @media screen and (min-width: 992px) {
    .header-content {
      padding: 2rem 13rem; } }

.main-header-wrap {
  margin-top: 2rem;
  margin-left: 4rem; }
  @media screen and (min-width: 768px) {
    .main-header-wrap {
      margin-top: 0; } }

.primary {
  display: flex;
  text-transform: uppercase;
  line-height: 1.4rem; }
  .primary li {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      .primary li {
        font-size: 1.5rem; } }

@media screen and (min-width: 768px) {
  .authentication-header-wrap {
    margin-left: auto; } }

.search-bar {
  background-color: #181a1b;
  border: 1px solid transparent;
  border-bottom-color: #3a3a3a; }

.search-form {
  padding: 0 2rem; }
  .search-form input {
    font-size: 1.3rem;
    padding: 0.5rem 0;
    width: 100%;
    background: transparent;
    border: none; }
    @media screen and (min-width: 768px) {
      .search-form input {
        font-size: 1.7rem; } }
    .search-form input::placeholder {
      color: #bab5ab; }
    .search-form input:focus {
      outline: none; }
  @media screen and (min-width: 992px) {
    .search-form {
      padding: 0 13rem; } }

.search-dropdown {
  display: none; }
  .search-dropdown h1 {
    padding-left: 2rem;
    font-size: 1.3rem; }
    @media screen and (min-width: 768px) {
      .search-dropdown h1 {
        font-size: 2rem; } }
    @media screen and (min-width: 992px) {
      .search-dropdown h1 {
        padding-left: 13rem; } }
  .search-dropdown ul {
    font-size: 1.4rem;
    color: #dad7d2; }
    .search-dropdown ul li {
      padding: 0.3rem 0 0.3rem 2rem;
      border: 1px solid transparent;
      border-top-color: #3a3a3a; }
      .search-dropdown ul li:hover {
        background-color: #3a3a3a; }
      @media screen and (min-width: 992px) {
        .search-dropdown ul li {
          padding-left: 13rem; } }

.media {
  max-width: 100rem;
  margin: 21rem auto 5rem;
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }
  .media img {
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 768px) {
    .media {
      margin-top: 15rem; } }

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .column > h2 {
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 992px) {
      .column > h2 {
        text-align: left; } }

.small-pic-wrap {
  display: flex; }

.big-pic {
  position: relative;
  max-width: 50rem;
  max-height: 28rem; }

.small-pic {
  position: relative;
  width: 50%;
  max-width: 25rem;
  max-height: 14rem; }

.detail-container {
  display: flex;
  position: absolute;
  align-items: flex-end;
  width: 100%;
  bottom: 0;
  padding: 1rem; }

.detail-pic {
  max-width: 6rem;
  max-height: 8.5rem;
  margin-right: 1rem; }

.detail-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: black 1px 1px 0; }
  .detail-text h2,
  .detail-text h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; }
  .detail-text h4 {
    font-size: 1.3rem; }

.trending-list-container {
  margin-top: 3rem; }
  @media screen and (min-width: 768px) {
    .trending-list-container {
      grid-column: 1 / span 2; } }

.trending-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .trending-list li {
    display: flex;
    margin: 0.5rem; }
    @media screen and (min-width: 768px) {
      .trending-list li {
        max-width: 34rem; } }
    @media screen and (min-width: 992px) {
      .trending-list li {
        max-width: 23rem; } }
    .trending-list li p {
      position: relative;
      font-size: 1.2rem;
      overflow: hidden;
      max-height: 13rem; }
      .trending-list li p:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 8rem, #181a1b); }

.trending-img {
  max-width: 9rem;
  max-height: 13rem;
  margin-right: 1rem; }

footer {
  background-image: url("/src/img/footer-pic.jpg");
  background-size: 100% auto;
  padding: 3rem; }
  @media screen and (min-width: 768px) {
    footer {
      height: 45rem; } }
  footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; }
    @media screen and (min-width: 768px) {
      footer nav {
        justify-content: center; } }
  footer h3 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.4rem;
    text-transform: uppercase; }
  footer div {
    margin: 0 2rem; }
    footer div li {
      font-size: 1.7rem;
      line-height: 2.5rem; }

.join-and-logo {
  text-align: right; }
  .join-and-logo p {
    margin-top: 2rem;
    font-weight: bold;
    color: #4ffeb2;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid #4FFBE2;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear .1s; }
    @media screen and (min-width: 768px) {
      .join-and-logo p {
        font-size: 2rem; } }

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181a1b; }

